.scannerwork
.gradle
.idea
.externalNativeBuild
local.properties
.DS_Store
gradlew
gradlew.bat
hhceconomy_lint-report.html
package-lock.json

/build
/captures
/gradle
/bin
/gen
/out
/node_modules

*.iml
*.apk
*.ap_
*.dex
*.class


